---
import Layout from '@layouts/Layout.astro'

export async function getStaticPaths() {
	const response = await fetch('https://api.kingsleague.dev/teams')
	const teams = await response.json()

	return teams.map((team) => ({
		params: { teamId: team.id },
		props: { ...team }
	}))
}

const { name, imageWhite, presidentId, coach, channel, players } = Astro.props
---

<Layout title={name}>
	<div class='container m-auto my-8 bg-gray-700 text-white p-5'>
		<section class='flex items-center justify-between'>
			<div class='flex items-center gap-x-12'>
				<img src={imageWhite} alt={`Escudo del equipo ${name}`} width='130' height='130' />
				<h1 class='font-bold text-5xl text-white'>{name}</h1>
			</div>
			<a href={channel} class='text-purple-900 font-bold' target='_blank' rel='noopener noreferrer'>
				Twitch
			</a>
		</section>

		<section class='my-2'>
			<ul>
				<li><b>Presidente:</b> {presidentId}</li>
				<li><b>Entrenador:</b> {coach}</li>
				<li><b>Jugadores:</b> {players.length}</li>
			</ul>
		</section>

		<section class='grid grid-cols-5 gap-2'>
			{
				players.map((player) => (
					<article class='text-center font-title text-slate-900 bg-white rounded-sm p-5 m-auto'>
						<img
							class='w-36 h-auto'
							src={`https://api.kingsleague.dev/static/players/${player.image}`}
							alt={`${player.name}`}
						/>
						<p>{player.name}</p>
						<p class='text-slate-600 font-body'>{player.role}</p>
					</article>
				))
			}
		</section>

		<section class='my-2'>Estadísticas</section>

		<a class='text-blue-500 underline' href='/'>Volver</a>
	</div>
</Layout>
