---
import Container from '@components/Container.astro'
import TeamPagePlayers from '@components/TeamPagePlayers.astro'
import TeamsSelectorCards from '@components/TeamsSelectorCards.astro'
import TeamStats from '@components/TeamStats.astro'
import Layout from '@layouts/Layout.astro'
import { findPresidentBy } from '@services/presidents.js'
import { getAllTeams, getPlayersTwelveFor } from '@services/teams.js'

const ICON_NETWORK_MAPPING = ['instagram', 'tiktok', 'twitch', 'twitter', 'youtube']

const { id, name, image, imageWhite, presidentId, socialNetworks, players, color } = Astro.props
const gradient = `bg-${id}`

const logoToShow = ['1k', 'los-troncos-fc'].includes(id) ? imageWhite : image

const socialNetworksWithIcon = socialNetworks.map((href) => ({
	href,
	style: href.includes('tiktok') ? 'filter: invert(1);' : null,
	icon: ICON_NETWORK_MAPPING.find((key) => href.includes(key))
}))

const president = await findPresidentBy({ id: presidentId })
const playersTwelve = await getPlayersTwelveFor({ teamId: id })

const playerEleven = players.filter((player) => player.role === 'jugador 11')
const goalkeepers = players.filter((player) => player.role === 'Portero')
const defenses = players.filter((player) => player.role === 'Defensa')
const medium = players.filter((player) => player.role === 'Medio')
const forward = players.filter((player) => player.role === 'Delantero')

console.log(playerEleven)

export async function getStaticPaths() {
	const teams = await getAllTeams()

	return teams.map((team) => ({
		params: { teamId: team.id },
		props: { ...team }
	}))
}
---

<Layout title={name}>
	<section class='bg-principal py-32 sm:px-2'>
		<Container>
			<div
				class={`relative py-10 px-2 md:px-20 md:py-10 shadow-xl sm:rounded -mt-10 z-10 mb-40 ${gradient}`}
			>
				<section class='flex flex-col xl:flex-row items-center justify-between pb-10'>
					<div class='flex flex-col'>
						<div class='flex flex-col xl:flex-row items-center gap-x-6 mb-2 -mt-24'>
							<img
								class='w-72 h-72 object-contain aspect-square'
								src={logoToShow}
								alt={`Escudo del equipo ${name}`}
								decoding='async'
								fetchpriority='high'
							/>
							<div class='flex flex-col justify-end text-center gap-y-4'>
								<h1 class='font-title font-bold text-4xl md:text-6xl text-white'>{name}</h1>
								<ul class='flex flex-row gap-x-4 justify-center xl:justify-start'>
									{
										socialNetworksWithIcon.map(({ href, icon, style }) => {
											return (
												<li>
													<a
														class='block transition hover:scale-150'
														href={href}
														target='_blank'
														rel='noopener norefferer'
														title={`${icon.charAt(0).toUpperCase() + icon.slice(1)}`}
													>
														<img
															class='w-8 h-8 brightness-[1000] aspect-square'
															src={`/logos/social/${icon}.svg`}
															style={style}
															alt={`${
																icon.charAt(0).toUpperCase() + icon.slice(1)
															} del equipo ${name}`}
															width='32'
															height='32'
															decoding='async'
															fetchpriority='high'
														/>
													</a>
												</li>
											)
										})
									}
								</ul>
							</div>
						</div>

						<TeamStats teamId={id} />
					</div>

					<div class='xl:absolute xl:-top-20 xl:right-10 text-center'>
						<img
							class='w-[380px] h-auto aspect-[400/562]'
							src={president.image}
							alt={president.name}
							decoding='async'
							fetchpriority='high'
						/>

						<div class='bg-black/70 rounded-xl p-2 -mt-6'>
							<h3 class='text-white font-title text-3xl'>{president.name}</h3>
							<h4 class='font-body uppercase rounded-full text-orange-500 font-semibold'>
								Presidente
							</h4>
						</div>
					</div>
				</section>

				<TeamPagePlayers players={[...playerEleven, ...goalkeepers, ...defenses, ...medium, ...forward]} />

				<div
					class={'-z-10 absolute inset-0 opacity-5 bg-center bg-[size:250%] transition bg-inherit'}
					style={`background-image:url('${imageWhite}')`}
				>
				</div>
			</div>
		</Container>

		<Container>
			<div
				class='overflow-hidden bg-white p-20 pt-5 shadow-xl rounded -mt-10 z-10 mb-40'
				style={`--tw-gradient-from: ${color}`}
			>
				<h2 class='font-title text-5xl text-black text-center py-10'>Todos los equipos</h2>
				<TeamsSelectorCards />
			</div>
		</Container>
	</section>
</Layout>
