---
import Layout from '@layouts/Layout.astro'

export async function getStaticPaths() {
  const response = await fetch('https://api.kingsleague.dev/teams')
	const teams = await response.json()

  return teams.map(team => ({
    params: { teamId: team.id },
    props: { ...team }
  }))
}

const {
	name, 
	image, 
	presidentId, 
	coach, 
	channel, 
	players
} = Astro.props
---

<Layout title={name}>
	<div class="container m-auto my-8">

		<section class="flex items-center justify-between">
			<div class="flex items-center gap-x-12">
				<img src={image} alt={`Escudo del equipo ${name}`} width="130"  height="130" />
				<h1 class="font-bold text-5xl">{name}</h1>
			</div>
			<a href={channel} class="text-purple-900 font-bold" target="_blank" rel="noopener noreferrer">
				Twitch
			</a>
		</section>

		<section class="my-2">
			<ul>
				<li><b>Presidente:</b> {presidentId}</li>
				<li><b>Entrenador:</b> {coach}</li>
				<li><b>Jugadores:</b> {players.length}</li>
			</ul>			
		</section>

		<section class="my-2">
			Estadísticas
		</section>

		<a class="text-blue-500 underline" href="/">Volver</a>
	</div>
</Layout>
