---
import Layout from '@layouts/Layout.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Container from '@components/Container.astro'
import { getSchedule } from '@services/schedule'

const schedule = await getSchedule()
console.log(schedule)
---

<!-- Página del calendario -->
<Layout title='Calendario'>
	<SectionTitle title='Calendario' />
	<Container>
		<main class='max-w-4xl mx-auto my-4'>
			{
				schedule.map((day) => {
					return (
						<section>
							<h2 class='font-bold text-xl my-8'>{day.date}</h2>
							<table class='w-full'>
								<tbody>
									{day.matches.map((match) => (
										<tr class='border-y [&>td]:py-2'>
											<td class='text-right'>{match.teams[0].name}</td>
											<td>
												<img
													class='h-8 object-contain mx-auto'
													src={`https://api.kingsleague.dev/static/logos/${match.teams[0].id}.svg`}
													alt={`Escudo del equipo ${match.teams[0].name}`}
												/>
											</td>
											<td class='w-32'>
												<p class='text-center text-xs bg-gray-200 rounded-sm p-2'>
													{match.score !== '0 – 0' ? match.score : 'vs'}
												</p>
											</td>
											<td>
												<img
													class='h-8 object-contain mx-auto'
													src={`https://api.kingsleague.dev/static/logos/${match.teams[1].id}.svg`}
													alt={`Escudo del equipo ${match.teams[0].name}`}
												/>
											</td>
											<td class='text-left'>{match.teams[0].name}</td>
										</tr>
									))}
								</tbody>
							</table>
						</section>
					)
				})
			}
		</main>
	</Container>
</Layout>
