---
import Layout from '@layouts/Layout.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Container from '@components/Container.astro'
import { getSchedule } from '@services/schedule'
import ScheduleRow from '@components/ScheduleRow.astro'

const schedule = await getSchedule()
---

<!-- Página del calendario -->
<Layout title='Calendario'>
	<SectionTitle title='Calendario' />
	<Container>
		<main
			class='bg-white p-8 sm:p-20 shadow-xl rounded -mt-10 z-10 mb-40 flex justify-center flex-col'
		>
			<div class='max-w-5xl mx-auto my-4'>
				{
					schedule.map((day, index) => {
						return (
							<section>
								<table class='w-full table-fixed mb-16'>
									<thead class='border-b-2 border-b-black'>
										<tr>
											<td class='text-white py-2 px-4 bg-black text-center rounded-t-lg'>
												<p class='text-[25px]'>{day.date}</p>
												<p class='font-semibold'>Jornada {index + 1}</p>
											</td>
										</tr>
									</thead>
									<tbody>
										{day.matches.map((match) => (
											<ScheduleRow
												local={match.teams[0]}
												visitant={match.teams[1]}
												score={match.score}
												timestamp={match.timestamp}
												hour={match.hour}
											/>
										))}
									</tbody>
								</table>
							</section>
						)
					})
				}

				<section class='max-w-5xl mx-auto my-4'>
					<header
						class='border-b-2 border-b-black text-white py-2 px-4 bg-black text-center rounded-t-lg'
					>
						<p class='text-[25px]'>25 y 26 de marzo de 2023</p>
						<p class='font-semibold'>Playoff</p>
					</header>
					<main class='border-b-2 border-l-2 border-r-2 rounded-lg border-slate-100'>
						<img src='/playoffImage/playoff.webp' alt='playoff' />
					</main>
				</section>
			</div>
		</main>
	</Container>
</Layout>
