---
import Layout from '@layouts/Layout.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Container from '@components/Container.astro'
import FloatingBoxContainer from '@components/FloatingBoxContainer.astro'
import TabsStatistics from '@components/TabsStatistics.astro'
import Goals from '@components/Goals.astro'
import PlayerPrizeCard from '@components/PlayerPrizeCard.astro'
import { getFirstPlayersStatistics } from '@services/statistics.js'

const { topScorer } = await getFirstPlayersStatistics()
---

<Layout title='Clasificación'>
	<SectionTitle title='Estadísticas' />
	<Container>
		<FloatingBoxContainer>
			<TabsStatistics />
			<div class='my-4'>
				<PlayerPrizeCard
					smallerBox
					teamName={topScorer.team}
					teamId={topScorer.teamId}
					teamImage={topScorer.image}
					playerName={topScorer.playerName}
					playerImage={topScorer.playerImage}
					title={topScorer.goals}
					subtitle='Goleador'
				/>
			</div>
			<Goals />
		</FloatingBoxContainer>
	</Container>
</Layout>
