---
const { title, position, id} = Astro.props
---

<h2 id={`accordion-collapse-heading-${id}`}>
	<button
		type='button'
		class={`flex items-center focus:ring-4 focus:ring-principal-300 justify-between p-5 w-full font-medium text-left border border-principal  text-gray-900 bg-gray-200  hover:bg-gray-300 ${
			position === 'first' ? 'rounded-t-xl border-b-0' : position === 'last' ? '' : 'border-b-0'
		}`}
		data-accordion-target={`#accordion-collapse-body-${id}`}
		aria-expanded={`${position === 'first' ? 'true' : 'false'}`}
		aria-controls={`accordion-collapse-body-${id}`}
	>
		<span class='font-semibold'>{title}</span>
		<svg
			data-accordion-icon
			class='w-6 h-6 shrink-0 rotate-180'
			fill='currentColor'
			viewBox='0 0 20 20'
			xmlns='http://www.w3.org/2000/svg'
		>
			<path
				fill-rule='evenodd'
				d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
				clip-rule='evenodd'></path>
		</svg>
	</button>
</h2>
<div id={`accordion-collapse-body-${id}`} aria-labelledby={`accordion-collapse-heading-${id}`}>
	<div
		class={`p-5 border border-principal ${
			position === 'last' ? 'rounded-b-xl border-t-0' : 'border-b-0'
		}`}
	>
		<p>
			<slot />
		</p>
	</div>
</div>
<script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>

