---
import { getLeaderboard } from '@services/leaderboard.js'

const leaderboard = await getLeaderboard()

const { format } = Astro.props
const isSmall = format === 'small'
---

<div class='relative overflow-x-auto sm:rounded-lg'>
	<table class='w-full text-xs text-left text-black'>
		<thead class='font-black text-white uppercase bg-black'>
			<tr>
				<th scope='col' class='w-5 px-3 py-3 text-center'>Pos.</th>
				<th scope='col' class='px-6 py-3'>Equipo</th>
				<th title='Victorias' scope='col' class='px-4 py-3'>V</th>
				<th title='Derrotas' scope='col' class='px-4 py-3'>D</th>
				{
					!isSmall && (
						<th title='Goles a favor' scope='col' class='px-4 py-3 text-center'>GF</th>
						<th title='Goles en contra' scope='col' class='px-4 py-3 text-center'>GC</th>
						<th title='Diferencia de goles' scope='col' class='px-4 py-3 text-center'>DG</th>
						<th title='Tarjetas Amarillas' scope='col' class='px-4 py-3 text-center'>TA</th>
						<th title='Tarjetas Rojas' scope='col' class='px-4 py-3 text-center'>TR</th>
					)
				}
			</tr>
		</thead>
		<tbody>
			{
				leaderboard.map((info) => {
					const { wins, losses, team, rank, scoredGoals, concededGoals, diferenceGoals = scoredGoals - concededGoals, yellowCards, redCards } = info
					const { image, name, id, shortName } = team

					return (
						<tr class={'odd:bg-white even:bg-slate-100 border-b text-base hover:bg-slate-300'}>
							<th
							scope='row'
							class='text-center px-3 py-4 font-black text-black whitespace-nowrap'
						>
							{rank}
						</th>
						<td class='px-6 py-4 font-black'>
							<a class="flex items-center gap-x-4 transition hover:opacity-75" href={`/team/${id}`} rel='preload'>
								<img src={image} alt={'Logo de ' + name} class='w-6 h-6' decoding="async" fetchpriority="high" />
								<span class='md:hidden'>{shortName}</span>
								<span class='hidden md:block'>{name}</span>
							</a>
						</td>
						<td class='px-4 py-4'>{wins}</td>
						<td class='px-4 py-4'>{losses}</td>
						{
							!isSmall && (
									<td class='px-4 py-4 text-center'>{scoredGoals}</td>
									<td class='px-4 py-4 text-center'>{concededGoals}</td>
									<td class='px-4 py-4 text-center'>{diferenceGoals}</td>
									<td class='px-4 py-4 text-center'>{yellowCards}</td>
									<td class='px-4 py-4 text-center'>{redCards}</td>
							)
						}
					</tr>
					)
				})
			}
		</tbody>
	</table>
</div>
