---
import { getSchedule } from '@services/schedule.js'
import ScheduleRow from './ScheduleRow.astro'

const schedule = await getSchedule()

const firstDayWithPendingMatches = schedule.find(({ matches }) => {
	const found = matches.some(({ timestamp }) => timestamp > Date.now())
	return found
})
---

<div class='relative overflow-x-auto shadow-md sm:rounded-lg'>
	<table class='w-full text-xs text-left text-black'>
		<thead class='font-black text-white uppercase bg-black'>
			<tr>
				<th
					scope='col'
					colspan='5'
					class='w-full px-6 py-3 text-center flex flex-col lg:flex-row items-center justify-between'
				>
					<img
						class='mt-auto block lg:w-52 w-32 aspect-[208/85]'
						src='/logos/kings-league-infojobs.svg'
						alt='logo de Kings League y Infojobs'
						decoding='async'
						fetchpriority='high'
					/>
					<div class='flex flex-col gap-0'>
						<h2 class='font-title font-black lg:text-2xl text-lg'>Jornada 2</h2>
						<h3 class='opacity-50 font-bold lg:text-base text-sm'>8 de Enero de 2023</h3>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			{
				firstDayWithPendingMatches.matches.map((match) => (
					<ScheduleRow
						useSmallNames
						local={match.teams[0]}
						visitant={match.teams[1]}
						score={match.score}
						timestamp={match.timestamp}
						hour={match.hour}
					/>
				))
			}
		</tbody>
	</table>
</div>
