---
const { local, score, visitant } = Astro.props

const scoreStyles = {
	shared: 'text-center text-xs font-bold rounded-md p-2',
	played: 'text-white bg-gradient-to-b from-principal-dark via-principal-dark to-principal',
	pending: 'bg-gray-200 transition group-hover:bg-gray-50'
}
---

<tr class='group border-y [&>td]:py-2 transition hover:bg-black'>
	<td class='text-right transition group-hover:text-white'>
		<span class='md:hidden'>{local.shortName}</span>
		<span class='hidden md:block'>{local.name}</span>
	</td>
	<td class='w-24'>
		<img
			class='h-8 object-contain mx-auto'
			src={`https://api.kingsleague.dev/static/logos/${local.id}.svg`}
			alt={`Escudo del equipo ${local.name}`}
		/>
	</td>
	<td class='w-24 md:w-48'>
		{
			score !== '0 – 0' ? (
				<p class={`${scoreStyles['shared']} ${scoreStyles['played']}`}>{score}</p>
			) : (
				<p class={`${scoreStyles['shared']} ${scoreStyles['pending']}`}>vs</p>
			)
		}
	</td>
	<td class='w-24'>
		<img
			class='h-8 object-contain mx-auto'
			src={`https://api.kingsleague.dev/static/logos/${visitant.id}.svg`}
			alt={`Escudo del equipo ${visitant.name}`}
		/>
	</td>
	<td class='text-left transition group-hover:text-white'>
		<span class='md:hidden'>{visitant.shortName}</span>
		<span class='hidden md:block'>{visitant.name}</span>
	</td>
</tr>
