---
import LogoPrincipalSponsor from '../../assets/static/logos/sponsors/logo-infojobs.svg'
import StadiumPartner from '../../assets/static/logos/sponsors/stadium-partner.svg'
import LogoGrefusa from '../../assets/static/logos/sponsors/logo-grefusa.svg'
import LogoSpotify from '../../assets/static/logos/sponsors/logo-spotify.svg'
import LogoSmyo from '../../assets/static/logos/sponsors/logo-simyo.svg'
import LogoAdidas from '../../assets/static/logos/sponsors/logo-adidas.svg'
import LogoMahau from '../../assets/static/logos/sponsors/logo-mahou.svg'
import LogoMI from '../../assets/static/logos/sponsors/logo-mi.svg'
import LogoShukran from '../../assets/static/logos/sponsors/logo-shukran.png'
import LogoImagin from '../../assets/static/logos/sponsors/logo-imagin.svg'
import LogoIQ from '../../assets/static/logos/sponsors/logo-iqoption.svg'
import HostingPartner from '../../assets/static/logos/sponsors/hosting-partner.svg'
---

<section class='flex justify-between md:justify-center sm:justify-center flex-wrap gap-10 text-white w-screen p-8 bg-black rounded my-10'>
	<div class="text-sm">
		<div class="border-b border-[#F8AF3F] mb-10">
			<span class="font-black">Principal</span> partner
		</div>

		<img src={LogoPrincipalSponsor} alt="Logo Principal Sponsor">
	</div>
	<div class="text-sm">
		<div class="border-b border-[#F8AF3F] mb-10">
			<span class="font-black">Stadium</span> partner
		</div>

		<img src={StadiumPartner} alt="Logo Stadium Sponsor">
	</div>
	<div class="text-sm col-span-3">
		<div class="border-b border-[#F8AF3F] mb-10">
			<span class="font-black">Main</span> partner
		</div>

		<div class="grid grid-cols-8 gap-5 items-center">
			<img src={LogoGrefusa} alt="Logo Grefusa Sponsor">
			<img src={LogoSpotify} alt="Logo Spotify Sponsor">
			<img src={LogoSmyo} alt="Logo Smyo Sponsor">
			<img src={LogoAdidas} alt="Logo Adidas Sponsor">
			<img src={LogoMahau} alt="Logo Mahau Sponsor">
			<img src={LogoMI} alt="Logo MI Sponsor">
			<img src={LogoShukran} alt="Logo Shukran Sponsor">
			<img src={LogoImagin} alt="Logo Imagin Sponsor">
			<img src={LogoIQ} alt="Logo IQ Sponsor">
		</div>
	</div>
	<div class="text-sm">
		<div class="border-b border-[#F8AF3F] mb-10">
			<span class="font-black">Hosting</span> partner
		</div>

		<img src={HostingPartner} alt="Logo Stadium Sponsor">
	</div>
</section>
