---
import Container from './Container.astro'

const LogoPrincipalSponsor = '/sponsors/logo-infojobs.svg'
const StadiumPartner = '/sponsors/stadium-partner.svg'
const LogoGrefusa = '/sponsors/logo-grefusa.svg'
const LogoSpotify = '/sponsors/logo-spotify.svg'
const LogoSmyo = '/sponsors/logo-simyo.svg'
const LogoAdidas = '/sponsors/logo-adidas.svg'
const LogoMahau = '/sponsors/logo-mahou.svg'
const LogoMI = '/sponsors/logo-mi.svg'
const LogoShukran = '/sponsors/logo-shukran.png'
const LogoImagin = '/sponsors/logo-imagin.svg'
const LogoIQ = '/sponsors/logo-iqoption.svg'
const HostingPartner = '/sponsors/hosting-partner.svg'
---

<section class='text-sm text-white p-8 bg-gradient-to-tr from-black via-black to-principal border-white border-t-2 border-b-2'>
	<Container>
		<div class='flex justify-between flex-wrap gap-10'>
			<div>
				<div class='border-b border-[#F8AF3F] mb-10'>
					<span class='font-black'>Principal</span> partner
				</div>

				<img src={LogoPrincipalSponsor} alt='Logo Principal Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
			</div>

			<div>
				<div class='border-b border-[#F8AF3F] mb-10'>
					<span class='font-black'>Stadium</span> partner
				</div>

				<img src={StadiumPartner} alt='Logo Stadium Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
			</div>

			<div class='col-span-3'>
				<div class='border-b border-[#F8AF3F] mb-10'>
					<span class='font-black'>Main</span> partner
				</div>

				<div class='grid grid-cols-8 gap-5 items-center'>
					<img src={LogoGrefusa} alt='Logo Grefusa Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					<img src={LogoSpotify} alt='Logo Spotify Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					<img src={LogoSmyo} alt='Logo Smyo Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					<img src={LogoAdidas} alt='Logo Adidas Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					<img src={LogoMahau} alt='Logo Mahau Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					<img src={LogoMI} alt='Logo MI Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					<img src={LogoShukran} alt='Logo Shukran Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					<img src={LogoImagin} alt='Logo Imagin Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					<img src={LogoIQ} alt='Logo IQ Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
				</div>
			</div>

			<div>
				<div class='border-b border-[#F8AF3F] mb-10'>
					<span class='font-black'>Hosting</span> partner
				</div>

				<img src={HostingPartner} alt='Logo Stadium Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
			</div>
		</div>
	</Container>
</section>
